.headerNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    text-decoration: none;
    color: black;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    & a {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      text-decoration: none;
      color: black;
      transition: 0.5s linear color;

      &:hover {
        color: gray;
      }
    }
  }
}
